form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    color: #333;
}
input, select {
    padding: 10px;
    /*margin-top: 5px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button.btn.btn-primary,
input[type="submit"] {
    margin: 10px auto 20px;
    background-color: #343a40;
    color: #fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}
button.btn.btn-primary:hover,
input[type="submit"]:hover {
    background-color: #000;
    color: #ddd;
}
button.btn.btn-primary:disabled,
.btn.disabled, 
.btn:disabled, 
fieldset:disabled .btn {
    background-color: #343a40;
    color: gray;
    opacity: 1;
    cursor: not-allowed;
}
button.btn.btn-primary:disabled:hover,
.btn.disabled:hover, 
.btn:disabled:hover, 
fieldset:disabled .btn:hover {
    cursor: not-allowed;
}
.error {
    color: red;
    font-size: 14px;
}

.mb-3 {
    position: relative;
}
input.form-control {
    padding-top: 13px;
    padding-bottom: 13px;
    transition: padding .25s ease, border-color .25s ease, box-shadow .25s ease;
    margin-left: 0;
}
.inputplaceholder {
    position: absolute;
    left: 10px;
    top: 15px;
    transform: scale(0.65);
    cursor: text;
    text-align: left;
    transform: scale(1);
    transition: top .25s ease, left .25s ease, transform .25s ease;
    white-space: nowrap;
    width: 0;
    font-size: 16px;
    pointer-events: none;
    margin: 0;
    z-index: 10;
}

input.form-control:focus + .inputplaceholder,
textarea.form-control:focus + .inputplaceholder,
.touched .inputplaceholder {
    top: 2px;
    transform: scale(0.65);
}

input.form-control:focus,
textarea.form-control:focus,
.touched input.form-control.touched,
.touched textarea.form-control.touched {
    padding-top: 21px;
    padding-bottom: 5px;
}

.input-group .input-group-text {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

.projectform.form-inline {
    margin-right: 20px;
    margin-bottom: 20px;
}
/*.projectform.form-inline .col-auto {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}*/

.projectform.form-inline .input-group #project_name {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

  /*MOBILE:*/
  @media screen and (max-width: 768px) {
    .search-bar {
      justify-content: flex-end;
    }
    .projectform.form-inline {
      margin-right: 0;
    }
  }
  